<h2>Sponsors de l'évènement</h2>

<h3>Platinium</h3>

<div class="sponsor-section sponsor-section-platinium">
    <figure>
        <img src="/img/sponsors/2011/xebia75.png" alt="Xebia">
    </figure>
    <figure>
        <img src="/img/sponsors/2011/zenika50.png" alt="Zenika">
    </figure>
    <figure>
        <img src="/img/sponsors/2011/objetDirect70.png" alt="Objet Direct">
    </figure>
    <figure>
        <img src="/img/sponsors/2011/novediaVision60.png" alt="Novedia">
    </figure>
    <figure>
        <img src="/img/sponsors/2011/sfeir40.png" alt="Sfeir">
    </figure>
    <figure>
        <img src="/img/sponsors/2011/oxiane50.png" alt="Oxiane">
    </figure>
    <figure>
        <img src="/img/sponsors/2011/fastConnect60.png" alt="Fast Connect">
    </figure>
    <figure>
        <img src="/img/sponsors/2011/valtech50.png" alt="Valtech">
    </figure>
    <figure>
        <img src="/img/sponsors/2011/ibmCDWLogo1.png" alt="ibm">
    </figure>
</div>

<h3>Gold</h3>

<div class="sponsor-section sponsor-section-platinium">
    <figure>
        <img src="/img/sponsors/2011/soat110.png" alt="Soat">
    </figure>
    <figure>
        <img src="/img/sponsors/2011/ipponLogo1.png" alt="Ippon">
    </figure>
    <figure>
        <img src="/img/sponsors/2011/inFineLogo1.png" alt="Infine">
    </figure>
    <figure>
        <img src="/img/sponsors/2011/objectifInfoLogo1.png" alt="Objectif">
    </figure>
</div>
