<h2>Sponsors de l'évènement</h2>

<h3>Platinium</h3>

<div class="sponsor-section sponsor-section-platinium">
    <figure>
        <img src="/img/sponsors/2012/xebia75.png" alt="Xebia">
    </figure>
    <figure>
        <img src="/img/sponsors/2012/zenika50.png" alt="Zenika">
    </figure>
    <figure>
        <img src="/img/sponsors/2012/objetDirect70.png" alt="Objet Direct">
    </figure>
    <figure>
        <img src="/img/sponsors/2012/novediaVision60.png" alt="Novedia">
    </figure>
    <figure>
        <img src="/img/sponsors/2012/sfeir40.png" alt="Sfeir">
    </figure>
    <figure>
        <img src="/img/sponsors/2012/oxiane50.png" alt="Oxiane">
    </figure>
    <figure>
        <img src="/img/sponsors/2012/logo-fc.jpg" alt="Fast Connect">
    </figure>
    <figure>
        <img src="/img/sponsors/2012/VALTECH.png" alt="Valtech">
    </figure>
    <figure>
        <img src="/img/sponsors/2012/ibmCDWLogo1.png" alt="ibm">
    </figure>
</div>

<h3>Gold</h3>

<div class="sponsor-section sponsor-section-gold">
    <figure>
        <img src="/img/sponsors/2012/soat.small.png" alt="Soat">
    </figure>
    <figure>
        <img src="/img/sponsors/2012/ipponLogo1.png" alt=>
    </figure>
    <figure>
        <img src="/img/sponsors/2012/inFineLogo1.png" alt="Infine">
    </figure>
    <figure>
        <img src="/img/sponsors/2012/objectifInfoLogo1.png" alt="Objectif">
    </figure>
</div>
