<h2>Sponsors de l'évènement</h2>

<h3>Platinium</h3>

<div class="sponsor-section sponsor-section-platinium">
    <figure>
        <img src="/img/sponsors/2013/xebia75.png" alt="Xebia">
    </figure>
    <figure>
        <img src="/img/sponsors/2013/zenika50.png" alt="Zenika">
    </figure>
    <figure>
        <img src="/img/sponsors/2013/objetDirect70.png" alt="Objet Direct">
    </figure>
    <figure>
        <img src="/img/sponsors/2013/ipponLogo1.png" alt="Ippon">
    </figure>
    <figure>
        <img src="/img/sponsors/2013/sfeir40.png" alt="Sfeir">
    </figure>
    <figure>
        <img src="/img/sponsors/2013/oxiane50.png" alt="Oxiane">
    </figure>
    <figure>
        <img src="/img/sponsors/2013/logo-fc.jpg" alt="Fast Connect">
    </figure>
    <figure>
        <img src="/img/sponsors/2013/VALTECH.png" alt="Valtech">
    </figure>
    <figure>
        <img src="/img/sponsors/2013/ibmCDWLogo1.png" alt="ibm">
    </figure>
</div>

<h3>Gold</h3>

<div class="sponsor-section sponsor-section-gold">
    <figure>
        <img src="/img/sponsors/2013/soat.small.png" alt="Soat">
    </figure>
    <figure>
        <img src="/img/sponsors/2013/inFineLogo1.png" alt="Infine">
    </figure>
    <figure>
        <img src="/img/sponsors/2013/objectifInfoLogo1.png" alt="Objectif">
    </figure>
    <figure>
        <img src="/img/sponsors/2013/logo-stepinfo-2012-12-01.jpg" alt="Step Info">
    </figure>
</div>
