<h2>Sponsors de l'évènement</h2>

<h3>Platinium</h3>

<div class="sponsor-section sponsor-section-platinium">
    <figure>
        <img src="/img/sponsors/2014/xebia75.png" alt="Xebia">
    </figure>
    <figure>
        <img src="/img/sponsors/2014/zenika50.png" alt="Zenika">
    </figure>
    <figure>
        <img src="/img/sponsors/2014/objetDirect70.png" alt="ObjectDirect">
    </figure>
    <figure>
        <img src="/img/sponsors/2014/ipponLogo3.png" alt="Ippon">
    </figure>
    <figure>
        <img src="/img/sponsors/2014/Sfeir.20121210.png" alt="SFEIR">
    </figure>
    <figure>
        <img src="/img/sponsors/2014/oxiane50.png" alt="OXiane">
    </figure>
    <figure>
        <img src="/img/sponsors/2014/logo-fc.jpg" alt="FastConnect">
    </figure>
    <figure>
        <img src="/img/sponsors/2014/VALTECH.png" alt="Valtech">
    </figure>
    <figure>
        <img src="/img/sponsors/2014/ibmCDWLogo1.png" alt="IBM">
    </figure>
</div>

<h3>Gold</h3>

<div class="sponsor-section sponsor-section-gold">
    <figure>
        <img src="/img/sponsors/2014/logo-SOAT-200x144.png" alt="SOAT">
    </figure>
    <figure>
        <img src="/img/sponsors/2014/objectifInfoLogo1.png" alt="ObjectifInfo">
    </figure>
    <figure>
        <img src="/img/sponsors/2014/logo-stepinfo-2012-12-01.jpg" alt="StepInfo">
    </figure>
    <figure>
        <img src="/img/sponsors/2014/softeamCadextan.jpg" alt="SofteamCadextan">
    </figure>
    <figure>
        <img src="/img/sponsors/2014/Logo-OPEN-fond-Transparent2013.png" alt="Open-Groupe">
    </figure>
    <figure>
        <img src="/img/sponsors/2014/arolla-small.jpg" alt="Arolla">
    </figure>
</div>
