<h2>Sponsors de l'évènement</h2>

<h3>Platinium</h3>

<div class="sponsor-section sponsor-section-platinium">
     <figure>
         <img src="/img/sponsors/2015/arolla.svg" alt="Arolla">
     </figure>
     <figure>
         <img src="/img/sponsors/2015/carbon-IT.svg" alt="Carbon IT">
     </figure>
     <figure>
         <img src="/img/sponsors/2015/zenika.svg" alt="Zenika">
     </figure>
     <figure>
         <img src="/img/sponsors/2015/valtech.svg" alt="Valtech">
     </figure>
     <figure>
         <img src="/img/sponsors/2015/oxiane.svg" alt="Oxiane">
     </figure>
     <figure>
         <img src="/img/sponsors/2015/sfeir.svg" alt="Sfeir">
     </figure>
</div>

<h3>Gold</h3>

<div class="sponsor-section sponsor-section-gold">
    <figure>
        <img src="/img/sponsors/2015/soat.svg" alt="SOAT">
    </figure>
    <figure>
        <img src="/img/sponsors/2015/xebia.png" alt="Xebia">
    </figure>
    <figure>
        <img src="/img/sponsors/2015/palo-it.svg" alt="Palo IT">
    </figure>
    <figure>
        <img src="/img/sponsors/2015/ippon.svg" alt="Ippon">
    </figure>
    <figure>
        <img src="/img/sponsors/2015/Mirakl-white.svg" alt="Mirakl">
    </figure>
    <figure>
        <img src="/img/sponsors/2015/BKConsulting_logo.png" alt="BK Consulting">
    </figure>
</div>
