<h2>Sponsors de l'évènement</h2>

<h3>Platinium</h3>

<div class="sponsor-section sponsor-section-platinium">

    <figure>
        <img src="/img/sponsors/2017/mirakl.svg" alt="Mirakl">
    </figure>
    <figure>
        <img src="/img/sponsors/2017/couchbase.svg" alt="Couchbase">
    </figure>
    <figure>
        <img src="/img/sponsors/2017/zenika.svg" alt="Zenika">
    </figure>
    <figure>
        <img src="/img/sponsors/2017/oxiane.svg" alt="OXiane">
    </figure>
    <figure>
        <img src="/img/sponsors/2017/arolla.svg" alt="Arolla">
    </figure>
    <figure>
        <img src="/img/sponsors/2017/carbon-IT.svg" alt="CarbonIT">
    </figure>
    <figure>
        <img src="/img/sponsors/2017/softeamcadextan.svg" alt="SofteamCadextan">
    </figure>
    <figure>
        <img src="/img/sponsors/2017/norsys.svg" alt="Norsys">
    </figure>
</div>

<h3>Gold</h3>

<div class="sponsor-section sponsor-section-gold">
    <figure>
        <img src="/img/sponsors/2017/ippon.svg" alt="Ippon">
    </figure>
    <figure>
        <img src="/img/sponsors/2017/viseo.svg" alt="Viseo">
    </figure>
</div>
