<h2>Sponsors de l'évènement</h2>

<h3>Platinium</h3>

<div class="sponsor-section sponsor-section-platinium">
    <figure>
        <img src="/img/sponsors/2018/mirakl.svg" alt="Mirakl">
    </figure>
    <figure>
        <img src="/img/sponsors/2018/softeamcadextan.svg" alt="SofteamCadextan">
    </figure>
    <figure>
        <img src="/img/sponsors/2018/arolla.svg" alt="Arolla">
    </figure>
    <figure>
        <img src="/img/sponsors/2018/carbon-IT.svg" alt="CarbonIT">
    </figure>
    <figure>
        <img src="/img/sponsors/2018/serli.svg" alt="Couchbase">
    </figure>
    <figure>
        <img src="/img/sponsors/2018/chooseyourboss.svg" alt="Couchbase">
    </figure>
    <figure>
        <img src="/img/sponsors/2018/ebiznext.svg" alt="Couchbase">
    </figure>
    <figure>
        <img src="/img/sponsors/2018/oxiane.svg" alt="Couchbase">
    </figure>
</div>

<h3>Gold</h3>

<div class="sponsor-section sponsor-section-gold">
    <figure>
        <img src="/img/sponsors/2018/ippon.svg" alt="Ippon">
    </figure>
    <figure>
        <img src="/img/sponsors/2018/jems.svg" alt="Viseo">
    </figure>
</div>
