<h2>Sponsors de l'évènement</h2>

<h3>Platinium</h3>

<div class="sponsor-section sponsor-section-platinium">
    <figure>
        <img src="/img/sponsors/2020/novencia.svg" alt="Novencia">
    </figure>
    <figure>
        <img src="/img/sponsors/2020/renault-digital.svg" alt="Renault Digital">
    </figure>
    <figure>
        <img src="/img/sponsors/2020/softeam.svg" alt="Softeam">
    </figure>
    <figure>
        <img src="/img/sponsors/2020/red-hat.svg" alt="RedHat">
    </figure>
    <figure>
        <img src="/img/sponsors/2020/mirakl.svg" alt="Mirakl">
    </figure>
    <figure>
        <img src="/img/sponsors/2020/arolla.svg" alt="Arolla">
    </figure>
    <figure>
        <img src="/img/sponsors/2020/codeworks.svg" alt="CodeWorks">
    </figure>
    <figure>
        <img src="/img/sponsors/2020/oxiane.svg" alt="Oxiane">
    </figure>
</div>

<h3>Gold</h3>

<div class="sponsor-section sponsor-section-gold">
    <figure>
        <img src="/img/sponsors/2020/maplr.svg" alt="Maplr">
    </figure>
</div>
