<h2>Sponsors de l'évènement</h2>

<h3>Platinium</h3>

<div class="sponsor-section sponsor-section-platinium">
    <figure>
        <img src="/img/sponsors/2022/renault-digital.svg" alt="Renault Digital">
    </figure>
    <figure>
        <img src="/img/sponsors/2022/softeam.svg" alt="Softeam">
    </figure>
    <figure>
        <img src="/img/sponsors/2022/red-hat.svg" alt="RedHat">
    </figure>
    <figure>
        <img src="/img/sponsors/2022/agorapulse.svg" alt="Agora Pulse">
    </figure>
    <figure>
        <img src="/img/sponsors/2022/mirakl.svg" alt="Mirakl">
    </figure>
    <figure>
        <img src="/img/sponsors/2022/sciam.svg" alt="Sciam">
    </figure>
    <figure>
        <img src="/img/sponsors/2022/oxiane.svg" alt="Oxiane">
    </figure>
    <figure>
        <img src="/img/sponsors/2022/microsoft.svg" alt="Microsoft">
    </figure>
</div>
