<div class="widget-sponsors widget">
    <h4 class="widget__title">Sponsors platinium</h4>
    <div class="widget__content">
        <ul class="widget__list">
			<li class="widget__item"><a class="widget__link" href="/about/sponsors#renault-digital"><img src="/img/sponsors/renault-digital.svg"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/sponsors#agorapulse"><img src="/img/sponsors/agorapulse.svg"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/sponsors#sciam"><img src="/img/sponsors/sciam.svg"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/sponsors#red-hat"><img src="/img/sponsors/red-hat.svg"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/sponsors#mirakl"><img src="/img/sponsors/mirakl.svg"/></a></li>
		</ul>
    </div>
    <h4 class="widget__title">Partenaires</h4>
    <div class="widget__content">
        <ul class="widget__list">
			<li class="widget__item"><a class="widget__link" href="https://www.jetbrains.com/" target="_blank"><img src="/img/sponsors/jetbrains.svg" style="max-height: 120px;"/></a></li>
		</ul>
    </div>
</div>