<div class="widget-sponsors widget">
    <h4 class="widget__title">Sponsors platinium</h4>
    <div class="widget__content">
        <ul class="widget__list">
			<li class="widget__item"><a class="widget__link" href="/about/2022/sponsors#renault-digital"><img src="/img/sponsors/2022/renault-digital.svg" alt="Renault Digital" loading="lazy" /></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/2022/sponsors#agorapulse"><img src="/img/sponsors/2022/agorapulse.svg" alt="Agorapulse" loading="lazy"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/2022/sponsors#softeam"><img src="/img/sponsors/2022/softeam.svg" alt="SOFTEAM" loading="lazy"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/2022/sponsors#sciam"><img src="/img/sponsors/2022/sciam.svg" alt="Sciam" loading="lazy"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/2022/sponsors#oxiane"><img src="/img/sponsors/2022/oxiane.svg" alt="Oxiane" loading="lazy"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/2022/sponsors#red-hat"><img src="/img/sponsors/2022/red-hat.svg" alt="Red Hat" loading="lazy"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/2022/sponsors#mirakl"><img src="/img/sponsors/2022/mirakl.svg" alt="Mirakl" loading="lazy"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/2022/sponsors#microsoft"><img src="/img/sponsors/2022/microsoft.svg" alt="Microsoft" loading="lazy"/></a></li>
		</ul>
    </div>
    <h4 class="widget__title">Partenaires</h4>
    <div class="widget__content">
        <ul class="widget__list">
			<li class="widget__item"><a class="widget__link" href="https://www.jetbrains.com/" target="_blank"><img src="/img/sponsors/2022/jetbrains.svg" style="max-height: 120px;"/></a></li>
		</ul>
    </div>
</div>