<div class="widget-sponsors widget">
    <h4 class="widget__title">Sponsors platinium</h4>
    <div class="widget__content">
        <ul class="widget__list">
			<li class="widget__item"><a class="widget__link" href="/about/sponsors#agorapulse"><img src="/img/sponsors/2023/agorapulse.svg" alt="Agorapulse" loading="lazy"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/sponsors#microsoft"><img src="/img/sponsors/2023/microsoft.svg" alt="Microsoft" loading="lazy"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/sponsors#mirakl"><img src="/img/sponsors/2023/mirakl.svg" alt="Mirakl" loading="lazy"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/sponsors#oxiane"><img src="/img/sponsors/2023/oxiane.svg" alt="Oxiane" loading="lazy"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/sponsors#sciam"><img src="/img/sponsors/2023/sciam.svg" alt="Sciam" loading="lazy"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/sponsors#softeam"><img src="/img/sponsors/2023/softeam.svg" alt="SOFTEAM" loading="lazy"/></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/sponsors#renault-digital"><img src="/img/sponsors/2023/renault-digital.svg" alt="Renault Digital" loading="lazy" /></a></li>
			<li class="widget__item"><a class="widget__link" href="/about/sponsors#worldline"><img src="/img/sponsors/2023/worldline.svg" alt="Worldline" loading="lazy" /></a></li>
		</ul>
    </div>
    <h4 class="widget__title">Partenaires</h4>
    <div class="widget__content">
        <ul class="widget__list">
			<li class="widget__item"><a class="widget__link" href="https://www.jetbrains.com/" target="_blank"><img src="/img/sponsors/2022/jetbrains.svg"/></a></li>
		</ul>
    </div>
</div>
