/* Header customization */
.header__container {
    background-size: cover;
    background-image:
        linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 0, 0, 0.5)),
        url('/img/header.jpeg');
}

.logo__tagline {
    color: rgb(255, 255, 255);
}

/** Speakers list */
ul.speaker__list {
    margin-bottom: 1rem;
}
ul.speaker__list li {
    display: inline-block;
}
ul.speaker__list li + li::before {
    content: " | ";
}

/* Speakers single page */
.speaker-profile {
    border: 3px solid rgb(226, 44, 47);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    float: left;
    margin: 0 16px 16px 0;
}

/* Sponsor widget */
.widget-sponsors .widget__list .widget__item {
    text-align: center;
}

.widget-sponsors .widget__list .widget__item img {
    max-height: 120px;
}
