/* Header customization */
.header__container {
    background-size: cover;
    background-image:
        linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 0, 0, 0.5)),
        url('/img/header.jpeg');
}

.logo__tagline {
    color:rgb(255, 255, 255);
}

/* Sponsor widget */
.widget-sponsors .widget__list .widget__item {
    text-align: center;
}
.widget-sponsors .widget__list .widget__item img {
    max-height: 120px;
}
